

{% extends "index.html.twig" %}
{% block container %}

    <div class="container"> 
        <div class="highlight-blue">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Congratulation</h2>
                    <p class="text-center">{{textToDisplay}} . </p>
                </div>
                <div class="buttons"><a class="btn btn-primary" role="button" href="/">Menu</a></div>
            </div>
        </div>
    </div>
{% endblock %}