{% extends "index.html.twig" %}

{% block container %}
    
      <div class="row row-login">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                        <h1 class="text-center">360 Imagine</h1>
                        <div class="well">
                            <h3 class="text-danger">Admin Login </h3>
                            <form>
                                <div class="form-group">
                                    <label class="control-label">Username </label>
                                    <input class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Password </label>
                                    <input class="form-control" type="password">
                                </div>
                                <button class="btn btn-success btn-block" type="submit">LOGIN </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12"></div>
                </div>


{% endblock %}