{% extends "master.html.twig" %}

{% block title %}Add was successfull{% endblock %}

{% block message %}
    
Add  {{task}} was successfull
    <a href="/">Click tocontinue to the website</a>.

{% endblock message %}