{% extends "master.html.twig" %}

{% block title %}Logout successful{% endblock %}

{% block content %}
    
<p>You've logged out succesfully.
    <a href="/">Click to continue to the website</a>.</p>

{% endblock content %}
