
{% extends "index.html.twig" %}
{% block container %}
    <div class="container" style="padding-top: 100px">
        <div class="panel-group" role="tablist" aria-multiselectable="true" id="accordion-1">


            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-1">Start a Survey</a></h4></div>

                <div class="panel-collapse collapse item-1" role="tabpanel">
                    <div class="panel-body"><span><a href="/admin/survey/start">Start Survey</a>.</span></div>
                    <div class="panel-body"><span><a href="/admin/template/onlytemplatelist">Select a Template from List</a>.</span></div>
                    <div class="panel-body"><span><a href="/admin/customer/add">Register a Customer</a>.</span></div>
                    <div class="panel-body"><span><a href="/admin/customer/list">Select a Customer from List</a>.</span></div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-2">Customer</a></h4></div>
                <div class="panel-collapse collapse item-2" role="tabpanel">


                    <div class="panel-body"><span><a href="/admin/customer/add">Register a Customer</a>.</span></div>
                    <div class="panel-body"><span><a href="/admin/customer/list">List of Customers</a>.</span></div>


                </div>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-3">Survey Template</a></h4></div>
                <div class="panel-collapse collapse item-3" role="tabpanel">
                    <div class="panel-body"><span><a href="/admin/template/add">Create a Template</a>.</span></div>
                    <div class="panel-body"><span><a href="/admin/template/onlytemplatelist">List of Template</a>.</span></div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-4">Question for Survey</a></h4></div>
                <div class="panel-collapse collapse item-4" role="tabpanel">
                    <div class="panel-body"><span><a href="/admin/question/add">Create a Question</a>.</span></div>
                    <div class="panel-body"><span><a href="/admin/question/list">List of Questions</a>.</span></div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-5">Marketing Tools</a></h4></div>
                <div class="panel-collapse collapse item-5" role="tabpanel">
                    <div class="panel-body"><span><a href="/admin/responses/list">Survey Statistics</a>.</span></div>
                    <div class="panel-body"><span><a href="/admin/responses/allsurveys">Survey Responses- Listing All => Detail and Delete</a>.</span></div>
                    <div class="panel-body"><span><a href="/admin/email/allCutomers">Email Marketing - Send Emails to all Customers</a>.</span></div>

                </div>
            </div>



        </div>
    </div>
{% endblock %}{# empty Twig template #}