

{% extends "index.html.twig" %}
{% block container %}

    <div class="container"> 
        <div class="highlight-blue">
            <div class="container"  style="text-align:center">
                <div class="intro">
                    <h2 class="text-center" style="color: white">Error for the Selection</h2>
                    <p style="font-size: 20; color: white" class="text-center">{{textToDisplay}} . </p>
                </div>
                <div class="buttons"><a class="btn btn-primary" role="button" href="/admin/template/add">Return to the Selection List</a></div>
            </div>
        </div>
    </div>
{% endblock %}