{% extends "master.html.twig" %}

{% block title %}User registration successful{% endblock %}

{% block content %}
<p>Registration successful. You may now <a href="/login">login</a>.</p>
{% endblock content %}

